<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Админ панель</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="text-dark form-container">
      <div class="container mt-5">
        <h1>Админ панель</h1>
        <button onclick="window.location.href='/admin/edit_apartments'" class="btn btn-primary">Редактировать квартиры</button>
        <button onclick="window.location.href='/admin/edit_news'" class="btn btn-primary">Редактировать новости</button>
        <a href="/" class="btn btn-primary">Вернуться назад</a>
      </div>
    </div>
  </div>
</body>
</html>
