<div class="container centered-container mt-5">
  <div class="col-md-6">
    <div class="card mb-4">
        <img src="{{news.image_url}}" class="img-size card-img-top" alt="{{news.title}}">
        <div class="card-body">
          <p>{{news.full_content}}</p>
          <a href="/#news" class="btn btn-secondary">Вернуться назад</a>
        </div>
      </div>
    </div>
  </div>
</div>